body{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
section{
    margin-bottom: 100px;
}

.flexibale_container{
    display: flex;
   
} 
.top_banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
  
}
.half_width{
    width: 45%;
    padding-left:5%;
}
h1{
    font-size:50px;
    font-weight: 500;
}
.orange_color{
    color: orange;
}
p{
    color:#696969;
}
a{
    text-decoration: none;
    background-image: linear-gradient(#FF9571,#FF7354);
    padding: 10px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color:#fff;
    text-transform: uppercase;
    font-weight:700;
}

.half_width img{
    width: 80%;
}
.dream_part{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.dream_para{
    width: 80%;
}
.experience_part{
    background:url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#fullStack_part{
    box-shadow: 1px 10px 40px gray;
    border-left: 7px solid;
    border-image: linear-gradient(#FF9E79, #FF7C5C);
    border-image-slice: 1;
   
}
#babyStack_part{
   box-shadow: 1px 10px 40px gray;
   border-image: linear-gradient(blue, cyan);
   border-image-slice: 1;
   border-left: 7px solid;
}
.experience_item{
    width:40%;
    margin-left: 5%;
    padding:20px;
}
footer{
    text-align:center;
}
